*{
  margin:0;
  padding:0;
  background-color: #FDD88C;
  scroll-behavior: smooth;
}

/*Scrolling Animation*/
.section-animation {
  animation-fill-mode: forwards;
  timeline-trigger: --on-enter view() entry 0 cover 10% ;
  animation-name: scroll-slide;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  animation-trigger: --on-enter play-forwards none;
}

@keyframes scroll-slide {
  from {
    opacity: 0;
    scale: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

                                            /*Hero Section Starts Here*/



/*Hero Video Section*/
.scroll-video-section {
  position: relative;
  height: 800px;
  background:transparent;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 3%;
  /*Effect*/
  transform:translateY(0);
  transition: all 1s ease;
  @starting-style{
    transform: translateY(100%);
  }
}

.video-sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  perspective:800px;
  border-radius: 1rem;
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.02);
}

.video-overlay {
  position: absolute;
  background:linear-gradient(to bottom,rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35));
  pointer-events: none;
}

/*Hero Text*/
.text-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform-style: preserve-3d;
  background: transparent;
}

.hero-text {
  margin: auto;
  position: absolute;
  color: white;
  font-weight: bolder;
  opacity: 0;
  transform-style: preserve-3d;
  will-change: transform, opacity;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-radius: 9999px;
}

.hero-text span {
  display: block;
  font-size: 14px;
  letter-spacing: 0.4em;
  background: transparent;
}

.hero-text h1 {
  margin: 0;
  font-size: clamp(45px, 8vw, 120px);
  line-height: 0.9;
  font-weight: 700;
  vertical-align:baseline;
  background: transparent;
}

.text-1 {
  font-family: 'Raffina-Italic', cursive;
  font-weight: bolder;
  opacity: clamp(
    0,
    calc((var(--progress) - 0.38) / 0.08),
    1
  );

  transform:
    translate3d(
      0,
      calc((0.55 - var(--progress)) * 300px),
      calc((0.55 - var(--progress)) * 500px)
    )
    rotateX(
      calc((0.55 - var(--progress)) * 25deg)
    )
    scale(
      calc(
        0.8 +
        clamp(
          0,
          (var(--progress) - 0.38) / 0.17,
          1
        ) * 0.2
      )
    );
}

/* -------------------------
   MOBILE
------------------------- */

@media (max-width: 768px) {
  .hero-text span {
    font-size: 10px;
  }

  .hero-text h1 {
    font-size: 48px;
  }
}


                                        /*Hero Section End Here*/


                                        /*Navbar Section Starts Here*/


#nav-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-self: flex-start;
  width:100%;
  height:3rem;

}       

#nav-links{
  list-style: none;
  color:#3f5c1e;
  font-weight: bolder;
  display: flex;
  justify-content:space-evenly;
  gap:2rem;
  font-family: 'GortsFairHandnormal', cursive;
  margin-left: 30%;

}

#nav-links div{
 transform: translate(0);
opacity: 1;
transition: all 1s ease;
transition-delay: calc((sibling-index()-1)*0.2s);
@starting-style{
  transform: translate(-10%,100%);
  opacity: 0;
}
}

.nav-option{
position: relative;
}

.nav-option:hover{
  color:#2F3E46;
  cursor: pointer;
}

.nav-option::before{
  content: "";
  position:absolute;
  display: block;
  width:100%;
  height:2px;
  bottom: 0;
  left:0;
  background-color: #3f5c1e;
  transform: scaleX(0);
  transition: transform 0.6s ease;
}

.nav-option:hover:before{
transform: scaleX(1);
}


#order-btn{
  margin-right: 3rem;
  padding: 1rem ;
  background-color: #ffbc38;
  color: #4a1500;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  box-shadow: inset 0 4px 0 -1px #802000, inset 0 -4px 0 -1px #802000;
}

#btn-container{
transform: translate(0);
opacity: 1;
transition: all 1s ease;
@starting-style{
  transform: translateX(100%);
  opacity: 0;
}
}

#order-btn:hover{
  transition: 0.1s ease-in-out;
  cursor: pointer;
  background-color: #faa700;
   box-shadow: inset 0 3px 0 -1px #802000, inset 0 -3px 0 -1px #802000;
}



                                        /*Navbar Section End Here*/


                                        /*Menu Section Starting Here*/


#store-container{
margin-top: 2rem;
width:100%;
text-align: center;
position: relative;
}

/*Manu Head*/
#menu-heading{
  width:7.5%;
  margin: auto;
  margin-top: 5rem;
  font-size: xx-large;
  color:#1A2B4C;
  text-align: center;
  font-family: 'RandomButPerfect-Italic', cursive;
  background: transparent;
}

#menu-heading:hover{
  animation: flip 1s linear;
}

@keyframes flip{
  0%{
    transform:rotate(0)
  }
  33%{
    transform: rotateX(180deg);
  }
  66%{
    transform:rotateY(180deg)
  }
  100%{
    transform: rotate(0);
  }
}

#menu-head{
  display: flex;
  justify-content: center;
  gap:3rem;
}


.tab-btns{
  padding:1rem;
  border-radius: 9999px;
   box-shadow: inset 0 3px 0 -1px #802000, inset 0 -3px 0 -1px #802000;
   backdrop-filter: blur(50px);
   color:white;
   font-size: large;
   font-weight: bold;
   color: #4a1500;
   margin-bottom: 2rem;
}

.tab-btns:hover{
  cursor: pointer;
  background-color: #ffbc38;
  transition:0.2s;
}

#active-tab{
   background-color:#ffbc38;;
}

#menu-bg{
  position: absolute;
  width:95%;
  height:100%;
  margin: auto;
  left:0;
  right:0;
  top:9%;
  object-fit: contain;
  border-radius: 15%;
}

/*Menu Body*/
#menu-body{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  justify-content: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#show-tab{
animation:popin 0.5s linear;
}

@keyframes popin{
  0%{
    scale:0;
  }
  50%{
    scale:1.05;
  }
  100%{
    scale:1;
  }
}

.dish-cards{
  margin-top: 2rem;
  width:25%;
  height:25rem;
  border-radius: 10%;
  background-image:linear-gradient(60deg,#FDD88C,#faa700,#faa700,#FDD88C);
  box-shadow: 2px 2px 4px 4px #faa700 ;
  position: relative;
  overflow: hidden;
}

.dish-cards::before{
  content:"";
  position: absolute;
  height:550px;
  width:20px;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter:blur(3px);
  opacity:0.8;
  top:-50%;
  left:0;
  transform: rotate(40deg) translateX(-100px);
}

.dish-cards:hover:before{
  animation:shine 0.7s ease-in-out;
}

@keyframes shine{
  0%{
    transform: rotate(40deg) translateX(-100px);
  }
  100%{
     transform: rotate(40deg) translateX(500px);
  }
}

.image-container{
  margin: auto;
  margin-top: 0.5rem;
  width:95%;
  height:70%;
  border-radius: 10%;
  overflow: hidden;
}

.dish-cards img{
  width:100%;
  height:100%;
}

.dish-cards img:hover{
  transition: 0.3s;
  width:110%;
  height:110%;
}

.dish-cards h4{
  font-size: x-large;
  font-weight: bold;
  font-family: 'RacyMango-Italic', cursive;
  background: transparent;
  color:#4a1500;
}

.dish-cards h6{
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: transparent;
  color:forestgreen;
}

.dish-cards p{
  font-size: small;
  font-weight: 900;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: transparent;
  color: #2C2C2C;
}


                                        /*Menu Section End Here*/


                                        /*Review Section Starting Here*/


/*Review Head*/
#review-container h3{
  width:12%;
  margin: auto;
  margin-top: 3rem;
  font-size: xx-large;
  color:#1A2B4C;
  text-align: center;
  font-family: 'RandomButPerfect-Italic', cursive;
  background: transparent;
}    

#review-container h3:hover{
    animation: flip 1s linear;
}

#review-container p:not(.crousal-cards p){
  margin-top: 2rem;
  font-size: xx-large;
  color:#4A235A;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Review Bg*/
#review-bg{
  top:30%;
  width:95%;
  border-radius: 20%;
  position: absolute;
  z-index: 0;
}

/*Review Body*/
#review-container {
  margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#crousal-container{
  margin: auto;
  margin-top: 3rem;
  display: flex;
  width:70%;
 overflow-x: hidden;
  gap:1rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  margin-bottom: 10rem;
  text-align: center;
  anchor-name: --crousal;
}

#crousal-container::-webkit-scrollbar{
display: none;
}

#crousal-container::scroll-button(*){
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  position-anchor: --crousal;
  background:transparent;
  color:white;
  border: none;
  text-align: center;
}

#crousal-container::scroll-button(*):disabled{
opacity: 0.5;
color:rgb(207, 205, 205);
}

#crousal-container::scroll-button(left){
content: "◀";
position-area: left center;
}
    
#crousal-container::scroll-button(right){
content: "▶";
position-area: right center;
}

.crousal-cards{
flex:0 0 30%;
aspect-ratio: 1;
height:50%;
scroll-snap-align: center;
border-radius: 20%;
background-color: rgba(0, 0, 255, 0.288);
backdrop-filter: blur(8px);
}

.crousal-cards img{
  border-radius: 50%;
}


.crousal-cards h4{
  color:rgb(255, 255, 255);
  margin-bottom: 1rem;
  background-color: transparent;
}

.crousal-cards p{
  color:rgb(2, 255, 2);
  background-color: transparent;
}

.crousal-cards p:first-of-type{
  color:rgb(206, 206, 2);
  background-color: transparent;
  margin-bottom: 0.5rem;
}


                                        /*Review Section End Here*/


                                        /*Bookings Section Starting Here*/


/*Bookings Head*/
#bookings-container{
  margin-top: 10rem;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: transparent;
  position: relative;
  isolation: isolate;
}       

#bookings-heading{
  font-size: xx-large;
  color:#1A2B4C;
  font-family: 'RandomButPerfect-Italic', cursive;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  width:20%;
  margin-bottom: 5rem;
}

#bookings-heading span{
  display: inline-block;
  background: transparent;
}

#bookings-heading span:hover{
  animation: flip 1s linear;
}

/*Bookings Body*/
#bookings-body{
  width:100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

#right-section{
  width:50%;
  background-color: transparent;
}

#left-section{
  width:50%;
  background-color: transparent;
}

/*Booking Form*/
#bookings-form{
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width:60%;
  height:90%;
  background-color:#ebcd9227;
  backdrop-filter: blur(8px);
  border-radius: 3rem;
    z-index: 1;
}

#bookings-form h5{
  background-color: transparent;
  color:#faa700;
  font-family: 'Tonopah-Italic', cursive;
  margin-bottom: 5rem;
  font-size: x-large;
    z-index: 1;
}

#bookings-form div:not(div[id="message"],div[id="booking-btn"]){
  margin-left: auto;
  margin-right: auto;
  width:70%;
  border: none;
  height:2rem;
  margin-top: 2rem;
  position: relative;
  background-color: transparent;
  font-family: 'Tonopah-Italic', cursive;
  font-size: large;
  font-weight: 600;
    z-index: 1;
}

#bookings-form div:not(div[id="date-time"],div[id="message"],div[id="booking-btn"]){
  border-bottom: white 2px solid;
}

#bookings-form select {
  height:3rem;
  margin-top: 2rem;
    margin-left: auto;
  margin-right: auto;
  width:60%;
  color:#4a1500;
  background-color: rgb(236, 232, 232);
  border-radius:15px;
  font-family: 'Tonopah-Italic', cursive;
  font-size: large;
  font-weight: 600;
  border: none;
}

#bookings-form select option{
  background-color: rgba(224, 198, 145, 0.055);
}

#bookings-form div input{
  border:none;
  height:100%;
  width:100%;
  color: white;
  font-family: 'Tonopah-Italic', cursive;
  font-size: large;
  font-weight: 600;
  background-color: transparent;
}

#date-time{
  display: flex;
  background-color: transparent;
  gap:1rem;
  font-family: 'Tonopah-Italic', cursive;
}

#message{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width:70%;
  position: relative;
  background-color: transparent;
  font-family: 'Tonopah-Italic', cursive;
  font-size: large;
  font-weight: 600;
  height:6rem;
  background-color: rgb(236, 232, 232);
  border-radius:1rem;
}

#bookings-form div textarea{
object-fit: contain;
width: 100%;
height: 100%;
background-color: transparent;
border: none;
color: #4a1500;;
  font-family: 'Tonopah-Italic', cursive;
  font-size: large;
  font-weight: 600;
  border-radius:1rem;
}

#bookings-form div label{
  font-family: 'NightwatcherBB-Bold', cursive;
  font-weight: bold;
  color:rgb(196, 193, 193);
  background-color: transparent;
  position:absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  opacity:0.5;
}

#message label[for="message-in"]{
  color:#4a1500;
}

#bookings-form div input:focus,select:focus,textarea:focus{
  box-shadow: none;
  outline: none;
}

#bookings-form div:focus-within label:not(label[for="message-in"]){
  transform: translateY(-170%);
  color:#FDD88C;
  opacity:1;
  transition: 0.4s ease;
}

#message:focus-within label{
  transform: translateY(-290%);
  color:#FDD88C;
  opacity:1;
  transition: 0.4s ease;
}

#booking-btn{
  width:40%;
  margin-left: auto;
  margin-right: auto;
  margin-top:2rem;
  margin-bottom: 3rem;
  padding: 1rem ;
  background-color:transparent;
  backdrop-filter: blur(50px);
  color:#faa700;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  box-shadow: inset 0 4px 0 -1px #802000, inset 0 -4px 0 -1px #802000;
}

#booking-btn:hover{
  background-color:#faa700 ;
  color:#802000;
  cursor: pointer;
  transition: 0.4s ease;
}

/*Right Section*/

#top-section{
  background-color: transparent;
}

#bottom-section{
  background-color: transparent;
}

/*Faq Section*/
#top-section{
  margin-top: 2rem;
  height:50%;
}

#top-section div{
margin-top: 0.5rem;
font-family: 'QuixeramobimNormal', cursive;
font-weight: bold;
font-size: x-large;
color:rgb(255, 255, 255);
background-color: #ebcd9227;
backdrop-filter: blur(8px);
width:85%;
height:2.5rem;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 10%;
margin-right: auto;
border-radius: 1rem;
}

#top-section p{
  width:75%;
  margin-left: 15%;
  margin-right: auto;
  margin-top: 0.2rem;
font-family: 'QuixeramobimNormal', cursive;
font-weight: bold;
font-size: large;
color:rgb(236, 235, 235);
background-color: #1a2b4c73;
backdrop-filter: blur(8px);
border-radius: 0.5rem;
}

#top-section div:hover{
  cursor: pointer;
  background-color: #ebcd926c;
backdrop-filter: blur(50px);
}

#top-section div span:nth-of-type(-n+1){
  margin-right: 0;
}

#top-section div span{
  background-color: transparent;
}

/*Bottom Section*/
#bottom-section h4{
  font-size: xx-large;
  color:#faa700;
  width:40%;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  backdrop-filter: blur(15px);
}

#bottom-section img{
  padding:0.3rem;
  border-radius: 1rem;
  background-color: transparent;
  backdrop-filter: blur(2px);
  box-shadow:  3px 3px 9px black;
}

#bottom-section img:hover{
  cursor: pointer;
  backdrop-filter: blur(10px);
}

#icon-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap:2rem;
  background-color: transparent;
}

/**Background Video*/
#bookings-bg{
  top:10%;
  width:95%;
  left:3%;
  border-radius: 20%;
  position: absolute;
  z-index: -1;
}
                                        /*Bookings Section End Here*/


                                        /*Footer Section Start Here*/


#footer-container {
display: flex;
margin-top: 18rem;
width:100%;
background-color:#2C2C2C;
justify-content: space-around;
align-items:flex-start;
text-align: center;
}        

#footer-container div{
  background-color: transparent;
}

#footer-container img{
  margin-top: 0.5rem;
  background-color: transparent;
}

#footer-container img:hover{
  animation:circle-in 0.5s linear;
}

@keyframes circle-in{
  0%{
    transform:rotateX(0);
    scale:1;
  }
  50%{
    transform: rotate(180deg);
    scale:0;
  }
  100%{
    transform:rotateX(360deg);
    scale:1;
  }
}

#footer-container h3{
  background-color: transparent;
  color:#faa700;
}

#footer-container p{
  margin-top: 1rem;
  color:rgb(216, 213, 213);
  background-color: transparent;
  transform: translateX(0);
}

#footer-container p:hover{
  color: #FDD88C;
  text-decoration: underline;
  cursor: pointer;
  transform: translateX(5%);
  transition: 0.6s ease;
}

#footer-container p a{
  text-decoration: none;
  color: rgb(216, 213, 213);
  background-color: transparent;
}

#copyright{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  text-align: center;
  color:burlywood
}







                                        /*Footer Section End Here*/